html{
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.font-effect-fire{
    font-family: "Sofia";
}
p{
    font-size: 9vmin;
}
#overall{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
input{
    height: 6vh;
    width:20vw;
    box-shadow: 0 0 6px orangered;
    border:1px solid orangered;
}
button{
    padding:30px;
    border-radius: 100%;
    border:1px solid orangered;
    box-shadow: 10px 10px 10px orangered;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 3vmin;
}
